// Graphs    
div(class='row no-gutters')
	// Tor Browser Bundle Security Levels Graph
	div(class='col-md')
		div(class='card m-2')
			div(class='card-body')
				h5(class='card-title text-center') 
					| Percentage of CAPTCHA faced exit nodes by
					br
					| Tor Browser security level
				div(class="chart-container" style="position: relative; height:100%; width:100%")
					canvas(id="tbb_security_levels" class='card-graph') Your browser does not support the canvas element.
					div(class="loading-icon" id='loading-icon-tbb_security_levels')

	// IPv4 vs IPv6
	div(class='col-md')
		div(class='card m-2')
			div(class='card-body')
				h5(class='card-title text-center') 
					| Percentage of CAPTCHA faced exit nodes by
					br
					| IP version
				div(class="chart-container" style="position: relative; height:100%; width:100%")
					canvas(id='ip_versions' class='card-graph') Your browser does not support the canvas element. 
					div(class="loading-icon" id='loading-icon-ip_versions')        

div(class='row no-gutters')
	// Single vs Multiple HTTP requests
	div(class='col-md')
		div(class='card m-2')
			div(class='card-body')
				h5(class='card-title text-center') 
					| Percentage of CAPTCHA faced exit nodes by
					br
					| HTTP requests quantity
				div(class="chart-container" style="position: relative; height:100%; width:100%")
					canvas(id='single_vs_multiple_http_reqs' class='card-graph') Your browser does not support the canvas element.
					div(class="loading-icon" id='loading-icon-single_vs_multiple_http_reqs')

	// HTTP vs HTTPS
	div(class='col-md')
		div(class='card m-2')
			div(class='card-body')
				h5(class='card-title text-center') 
					| Percentage of CAPTCHA faced exit nodes by
					br
					| connection security
				div(class="chart-container" style="position: relative; height:100%; width:100%")
					canvas(id='http_vs_https' class='card-graph') Your browser does not support the canvas element.
					div(class="loading-icon" id='loading-icon-http_vs_https')

//- div(class='row no-gutters')
//- 	// Locations of the exit nodes
//- 	div(class='col-md')
//- 		div(class='card m-2')
//- 			div(class='card-body')
//- 				h5(class='card-title text-center') 
//- 					| Overall percentage of CAPTCHA faced exit nodes by
//- 					br
//- 					| physical location
//- 				div(class="chart-container" style="position: relative; height:100%; width:100%")
//- 					canvas(id='physical_location' class='card-graph') Your browser does not support the canvas element.
//- 					div(class="loading-icon" id='loading-icon-physical_location')


script(src='/javascripts/graphs_chartjs.js')
