div(id='js_warning')
	div(class='row no-gutters')
		div(class='col-md')
			div(class='card bg-danger m-2')
				div(class='card-body')
					div(class='row no-gutters')
						div(class='col-md')
							p(class='text-white mb-0') 
								| #[strong JavaScript required]
								|
								br
								br
								|
								| Please enable JavaScript to use this service. 
								| If you are using Tor Browser, you can view
								| CAPTCHA Monitor in 'Safer' mode.
								|
								br
								br
								|
								| CAPTCHA Monitor only uses JavaScript resources that
								| are hosted by the CAPTCHA Monitor server.
