script(type="text/javascript").
	$(document).ready(function() {
		$('#search_table').DataTable( {
			'ajax': {
				url: '/api/measurements/#{results_limit}',
				dataSrc: function ( json ) {
					for(let i = 0; i < json.results.length; i++){
						json.results[i].id = '<a href="/measurements/details/' + 
							json.results[i].id + '" target="_blank">' +
							json.results[i].id + '</a>';

						json.results[i].exit_node = '<a href="https://metrics.torproject.org/rs.html#search/' + 
							json.results[i].exit_node + '" target="_blank">' +
							json.results[i].exit_node + '</a>';

						let text_mapping = {1: 'Yes', 0: 'No'};
						json.results[i].is_captcha_found = text_mapping[json.results[i].is_captcha_found];
						json.results[i].is_data_modified = text_mapping[json.results[i].is_data_modified];

						let method_mapping = {'tor_browser': 'Tor Browser', 
							'firefox': 'Firefox', 
							'chrome': 'Chrome', 
							'firefox_over_tor':'Firefox Over Tor', 
							'chrome_over_tor':'Chrome Over Tor', 
							'curl':'cURL'
							};
						json.results[i].method = method_mapping[json.results[i].method];

						let security_level_mapping = {'low': 'Standard', 'medium': 'Safer', 'high': 'Safest'};
						json.results[i].tbb_security_level = security_level_mapping[json.results[i].tbb_security_level];

					}
					return json.results;
				}
			},
			'columns': [
				{ 'defaultContent': '&nbsp;&nbsp;', className: 'table_status_indicator', 'targets': [0], 'searchable': false, 'orderable': false, 'visible': true  },
				{ 'defaultContent': 'N/A', 'data': 'id' },
				{ 'defaultContent': 'N/A', 'data': 'timestamp' },
				{ 'defaultContent': 'N/A', 'data': 'method' },
				{ 'defaultContent': 'N/A', 'data': 'tbb_security_level' },
				{ 'defaultContent': 'N/A', 'data': 'browser_version' },
				{ 'defaultContent': 'N/A', 'data': 'url' },
				{ 'defaultContent': 'N/A', 'data': 'exit_node' },
				{ 'defaultContent': 'N/A', 'data': 'is_captcha_found' },
				{ 'defaultContent': 'N/A', 'data': 'is_data_modified' }
			],
			'order': [[ 1, '#{results_order}' ]],
			//'pageLength': 20
			"oSearch": { "sSearch": decodeURIComponent(window.location.hash.substring(1)) },
			rowCallback: function(row, data, index){
				let data_modified_test = (data.is_data_modified == 'Yes')
				let is_captcha_found_test = (data.is_captcha_found == 'Yes')
				let na_data_modified_test = (typeof data.is_data_modified == 'undefined')

				if((data_modified_test && is_captcha_found_test) || (is_captcha_found_test && na_data_modified_test)){
					$(row).find('td:eq(0)').css('background-color', '#dc3545');
				}else if(data_modified_test || is_captcha_found_test){
					$(row).find('td:eq(0)').css('background-color', '#fd7e14');
				}else {
					$(row).find('td:eq(0)').css('background-color', '#28a745');
				}

			}
		} );

		// Get what is entered into the search box and place it into the url
		$('#search_table').on('search.dt', function() {
			var value = $('.dataTables_filter input').val();
			window.location.hash = value;
			//window.location.search = value;
			//console.log(value);
		}); 

	} );
