extends layout

block content
	nav(class='navbar navbar-dark mb-4')
		a(class='navbar-brand') Cloudflare CAPTCHA Monitoring Project Dashboard
		// h1= title
		// p Welcome to #{title}
	div(class='container')
		include includes/intro.pug
		include includes/graphs.pug
		//include includes/search.pug
		div(class='mb-4')
