block variables
doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='onion-location' content='http://5yalu72ryu4xu457kmcze5kxb4on6xh2vkom35jnu4s3respg7hsguqd.onion/')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		link(rel='stylesheet', href='/stylesheets/libraries/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/jquery.dataTables.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/dataTables.bootstrap4.min.css')
		script(src='/javascripts/libraries/Chart.bundle.min.js')
		script(src='/javascripts/libraries/chartjs-plugin-colorschemes.js')
		script(src='/javascripts/libraries/chartjs-plugin-labels.min.js')
		script(src='/javascripts/libraries/jsonview.bundle.js')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		nav(class='navbar navbar-dark mb-4 navbar-expand-lg')
			a(class='navbar-brand mr-4' href='/') Cloudflare CAPTCHA Monitoring Project Dashboard
			div(class='navbar-nav')
				a(class='nav-item nav-link active' href='/') Home
				a(class='nav-item nav-link active' href='/measurements') Measurement Search

		// Main page content
		div(class='container')
			include includes/js_warning.pug
			script(type="text/javascript").
				// This part will fail and show the error if JavaScript
				//	is disabled on the browser
				document.getElementById("js_warning").hidden = 'hidden';
			block content

		// Used for spacing at the bottom
		div(class='mb-4')

		script(src='/javascripts/libraries/jquery-3.5.1.min.js')
		script(src='/javascripts/libraries/popper.min.js')
		script(src='/javascripts/libraries/bootstrap.min.js')
		script(src='/javascripts/libraries/jquery.dataTables.min.js')
		script(src='/javascripts/libraries/dataTables.bootstrap4.min.js')

		if(place_measurement_datatable == true)
			include includes/measurements_datatable.pug
