block variables
doctype html
html(lang='en')
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel='stylesheet', href='/stylesheets/libraries/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/jquery.dataTables.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/libraries/Chart.bundle.min.js")

	body
		nav(class='navbar navbar-dark mb-4 navbar-expand-lg')
			a(class='navbar-brand mr-4' href='/') Cloudflare CAPTCHA Monitoring Project Dashboard
			div(class='navbar-nav')
				a(class='nav-item nav-link active' href='/') Home
				a(class='nav-item nav-link active' href='/measurements') Measurement Search

		// Main page content
		block content

		// Used for spacing at the bottom
		div(class='mb-4')

		script(src='/javascripts/libraries/jquery-3.5.1.min.js')
		script(src='/javascripts/libraries/popper.min.js')
		script(src='/javascripts/libraries/bootstrap.min.js')
		script(src='/javascripts/libraries/jquery.dataTables.min.js')
		script(src='/javascripts/libraries/dataTables.bootstrap4.min.js')

		// This needs to be placed at the very end of the page
		if(place_table == true)
			script(type="text/javascript").
				$(document).ready(function() {
					$('#search_table').DataTable( {
						'ajax': {
							url: '/api/measurements/#{results_limit}',
							dataSrc: function ( json ) {
								for(let i = 0; i < json.results.length; i++){
									json.results[i].id = '<a href="/measurements/details/' + 
										json.results[i].id + '" target="_blank">' +
										json.results[i].id + '</a>';

									json.results[i].exit_node = '<a href="https://metrics.torproject.org/rs.html#search/' + 
										json.results[i].exit_node + '" target="_blank">' +
										json.results[i].exit_node + '</a>';

									let text_mapping = {1: 'Yes', 0: 'No'};
									json.results[i].is_captcha_found = text_mapping[json.results[i].is_captcha_found];
								}
								return json.results;
							}
						},
						'columns': [
							{ 'data': 'id' },
							{ 'data': 'timestamp' },
							{ 'data': 'method' },
							{ 'data': 'tbb_security_level' },
							{ 'data': 'url' },
							{ 'data': 'exit_node' },
							{ 'data': 'is_captcha_found' }
						],
						'order': [[ 0, '#{results_order}' ]],
						//'pageLength': 20
					} );
				} );
