doctype html
html(lang='en')
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel='stylesheet', href='/stylesheets/libraries/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/jquery.dataTables.min.css')
		link(rel='stylesheet', href='/stylesheets/libraries/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/libraries/Chart.bundle.min.js")

	body
		nav(class='navbar navbar-dark mb-4 navbar-expand-lg')
			a(class='navbar-brand mr-4' href='/') Cloudflare CAPTCHA Monitoring Project Dashboard
			div(class='navbar-nav')
				a(class='nav-item nav-link active' href='/') Home
				a(class='nav-item nav-link active' href='/measurements') Measurement Search

		// Main page content
		block content

		// Used for spacing at the bottom
		div(class='mb-4')

		script(src='/javascripts/libraries/jquery-3.5.1.min.js')
		script(src='/javascripts/libraries/popper.min.js')
		script(src='/javascripts/libraries/bootstrap.min.js')
		script(src='/javascripts/libraries/jquery.dataTables.min.js')
		script(src='/javascripts/libraries/dataTables.bootstrap4.min.js')
		//- script(type="text/javascript").
		//- 	$(document).ready( function () {
		//- 		$('#search_table').DataTable();
		//- 	} );
