extends layout

block content
	div(class='container')
		h3(class='mb-4') 
			| Details for measurement #
			a(id='details_id')= id
		// Search    
		table(class='table' id='details_table' tyle='word-wrap:break-word; table-layout: fixed;')
			tr(id='first_row')
				th(scope='row' style='width:15%')
					p Timestamp
				td
					p(id='details_timestamp') 
			tr 
				th(scope='row' style='width:15%')
					p Exit Node
				td
					p(id='details_exit_node') 
			tr 
				th(scope='row' style='width:15%')
					p Method
				td
					p(id='details_method')
			tr 
				th(scope='row' style='width:15%')
					p Browser Version
				td
					p(id='details_browser_version')
			tr 
				th(scope='row' style='width:15%')
					p Tor Browser Security Level
				td
					p(id='details_tbb_security_level')
			tr 
				th(scope='row' style='width:15%')
					p URL
				td
					p(id='details_url')    
			tr 
				th(scope='row' style='width:15%')
					p CAPTCHA Sign
				td
					p(id='details_captcha_sign')
			tr 
				th(scope='row' style='width:15%')
					p Is CAPTCHA found?
				td
					p(id='details_is_captcha_found')
			tr 
				th(scope='row' style='width:15%')
					p Is Data Modified?
				td
					p(id='details_is_data_modified')
			tr 
				th(scope='row' style='width:15%')
					p CAPTCHA Monitor Version
				td
					p(id='details_captchamonitor_version')
			tr 
				th(scope='row' style='width:15%')
					p Requests
				td
					p(id='details_requests')
			//- tr 
			//- 	th(scope='row' style='width:15%')
			//- 		h5 Expected MD5 Hash of the HTML Data
			//- 	td
			//- 		pre(id='details_expected_hash')
			tr 
				th(scope='row' style='width:15%')
					p HTML Data
				td
					pre(id='details_html_data')
		p 
			i You can download the JSON version of the data at
				|
				|
				a(id='details_download_link')


	script(src='/javascripts/measurements_details.js')
