extends layout

block variables
	- var place_table = true
	- var results_limit = 9999999999999
	- var results_order = 'asc'

block content
	div(class='container')
		h3(class='mb-4') Measurement Search - Full List
		// Search    
		div(class='row no-gutters')
			div(class='col-md')
				div(class='card mb-4')
					div(class='card-body')
						p(class='mb-0') 
							| Here you can find the full list of the measurements.
							| It might take a while to load.
							br
							br 
							| You can click the ID of the measurements and see further
							| details such as HTTP headers and the received HTML data.
							| If you already have a specific measurement ID, you can
							| view it's details at 
							|
							a(href='/measurements/details/1' target='_blank') /measurements/details/ID
							|
							br
							br
							| You can also use the search bar below to find a specific
							| method, Tor Browser security level, exit node IP address,
							| or CAPTCHA detection result. You can also enter multiple
							| keywords to find various combinations. For example, if you
							| want to see the measurements that faced CAPTCHA at Tor 
							| Browser's low security level, you can enter "low yes" 
							| into the search bar.
							br
							br
							| Reminder: 
							|
							a(href='https://captcha.wtf' target='_blank') captcha.wtf
							|
							| is the IPv4 only domain and 
							|
							a(href='https://exit11.online' target='_blank') exit11.online
							|
							| is the IPv6 only domain used in the measurements. You might
							| also use them for the search criteria.

		include includes/table.pug
